.home-container{
	height: 90.6vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-background-picture{
	width: 700px;
}

.text-container{
	display: flex;
	justify-content: start;
	align-items: center;
}

.Home-text-wrapper h1{
	font-family: 'Inter', sans-serif;
	font-size: 50px;
	font-weight: 800;
}

.Home-text-wrapper p{
	width: 500px;
}

.Home-background-wrapper{
	display: flex;
	margin: auto 0;
	justify-content: center;

}

.btn{
	background-color: #0C58A3;
	color: white;
	padding: 5px 50px 5px 50px;
	border-radius: 50px;
	font-size: 20px;
	font-family: 'Inter', sans-serif!important;
	transition: all 0.1s ease-in-out;
	transition-delay: 0.1s;
}

.btn:hover{
	background-color: #4e5f6f;
	color: white;
	transition-duration: 1s;
	font-size: 25px;
	transition: all 0.1s ease-in-out;
}