

.webLogo{
	width: 100px;
}

.navbar{

}

.navbar ul li a{
	font-family: 'Inter', sans-serif!important;
	font-weight: 600;
	font-size: 20px;
	color: black!important;
	transition: all 0.1s ease-in-out;
	transition-delay: 0.1s;
}

.navbar ul li a:hover{
	font-family: 'Inter', sans-serif!important;
	font-weight: 600;
	font-size: 25px;
	transition: all 0.1s ease-in-out;

}

.btn-login{
	background-color: #0C58A3;
	color: white;
	padding: 5px 40px 5px 40px;
	border: none;
	border-radius: 50px;
	font-size: 20px;
	font-family: 'Inter', sans-serif!important;
	transition: all 0.1s ease-in-out;
	transition-delay: 0.1s;
}

.btn-login:hover{
	background-color: #4e5f6f;
	transition-duration: 1s;
	font-size: 25px;
	transition: all 0.1s ease-in-out;
}